<html>
<head>
<title>Proxy increment query</title>
</head>

<body>
hello world

<div id="container" style="min-width:400px;height:400px"></div>

<script src='/static/jquery.js'></script>
<script src='/static/highstock.js'></script>
<script src='/static/exporting.js'></script>
<script>
$(function () {
    $.getJSON('https://data.jianshukeji.com/jsonp?filename=json/new-intraday.json&callback=?', function (data) {
		// create the chart
		Highcharts.stockChart('container', {
				title: {
						text: 'AAP123price by minute'
				},
				subtitle: {
						text: 'Using explicit breaks for nights and weekends'
				},
				rangeSelector : {
						buttons : [{
								type : 'hour',
								count : 1,
								text : '1h'
						}, {
								type : 'day',
								count : 1,
								text : '1D'
						}, {
								type : 'all',
								count : 1,
								text : 'All'
						}],
						selected : 1,
						inputEnabled : false
				},
				tooltip: {
						split: false
				},
				series : [{
						name : 'AAPL',
						type: 'area',
						data : data,
						gapSize: 1,
						fillColor : {
								linearGradient : {
										x1: 0,
										y1: 0,
										x2: 0,
										y2: 1
								},
								stops : [
										[0, Highcharts.getOptions().colors[0]],
										[1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
								]
						},
						threshold: null
				}]
		});
    });
});
</script>
</body>
</html>